h1 {
  color: #fff;
  background-color: #927664;
  font-size: 70px;

}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f0f3;
}

.nav ul {
  list-style: none;
  background-color: #927664;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
  color: #ffff;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid#888;
  transition: .3s;
}

.nav a:hover {
  background-color: #4b4137;

}

.nav a.active {
  background-color: #4b4137;
  color: #ffffff;
  cursor: default;
}

.nav li li {
  font-size: .8em;
}

@media screen and (min-width: 650px) {
  .nav li {
    width: 180px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block
  }

  .nav a {
    border-bottom: none;
  }

  .nav>ul>li {
    text-align: center;
  }

  .nav>ul>li>a {
    padding-left: 0;
  }

  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }


  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}